header {
    margin: 10px auto 0 auto;
    padding: 20px 10px;
}


@media (max-width: 425px) {
    header {
        padding: 10px 10px;
    }

    .header__img>svg {
        width: 10px;
        height: 10px;
    }
}