@import url(./styles/header.css);
@import url(./styles/card.css);
@import url(./styles/hero.css);
@import url(./styles/footer.css);
@import url(./styles/modal.css);

:root {
  --black: black;
  --white: #FFFFFF;
  --blue: #306EFD;
  --primary: #18B653;
  --greenE7: #E3F3E7;
  --color7E: #7E7E7E;
  --blueFA: #E4EDFA;
  --colorFA: #E6F5F2;
  --colorDA: #DDDADA
}


@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1px 0px;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(92.23deg, #EFFAF3 0.47%, #D3EEEC 96.76%);
  position: relative;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1236px;
  margin: 0 auto;
  box-sizing: border-box;
}


.container-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1236px;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  padding-left: 0px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-blue {
  background-color: var(--blue);
  padding: 18px 20px;
}

.btn-green {
  background-color: var(--primary);
  padding: 18px 20px;
}


.headline-h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 135%;
}

.paragraph {
  font-size: 21px;
  font-weight: 400;
}

.paragraph2 {
  font-weight: 400;
  font-size: 16px;
}

.paragraph2-bold {
  font-weight: 700;
  font-size: 16px;
}

.headline-h3 {
  font-size: 32px;
  font-weight: 700;
}


main {
  padding: 0 10px;
}

.body-bg {
  position: absolute;
  top: 210px;
  right: 0;
  z-index: -1;
}

.body-bg1 {
  position: absolute;
  top: 268px;
  right: 124px;
  z-index: -1;
}

.logo {
  width: 257px;
  height: auto;
}

.headfoot {
  width: calc(100% - 20px);
  background-color: var(--white);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 1px 20px 2px #00000029;
}



@media (max-width: 768px) {
  .modal {
    padding: 24px;
  }

  .modal__title {
    font-size: 22px;
  }
}

@media (max-width: 1300px) {
  .body-bg {
    top: 430px;
    z-index: -1;
  }

  .body-bg1 {
    top: 490px;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .body-bg {
    top: 240px;
    z-index: -1;
  }

  .body-bg1 {
    top: 310px;
    z-index: -1;
  }

  .btn-green {
    font-size: 16px;
  }

  .btn-blue {
    padding: 10px 15px;
    font-size: 18px;
  }

  .headline-h1 {
    font-size: 35px;
    line-height: 100%;
  }

  .paragraph {
    font-size: 18px;
    line-height: 100%;
  }

  .paragraph2 {
    font-size: 16px;
  }

  .logo {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .body-bg1 {
    display: none;
  }

  .logo {
    width: 137px;
  }
}

@media (max-width: 425px) {
  .btn-blue {
    font-size: 13px;
    gap: 5px;
  }

  .btn-green {
    font-size: 16px;
  }

  .btn-green>svg {
    width: 33px;
  }

  button>img {
    width: 10px;
  }

  .headline-h1 {
    font-size: 28px;
  }

  .headline-h3 {
    font-size: 22px;
  }

  .paragraph {
    font-size: 16px;
  }

  .paragraph2-bold {
    font-size: 12px;
  }

  .paragraph2 {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .header>img {
    width: 100px;
  }

  .btn-blue {
    padding: 10px 10px;
  }

  .logo {
    width: 100px;
  }
}