@import url(./styles/header.css);
@import url(./styles/card.css);
@import url(./styles/hero.css);
@import url(./styles/footer.css);

:root {
  --white: #FFFFFF;
  --blue: #306EFD;
  --primary: #18B653;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 1px 0px;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(92.23deg, #EFFAF3 0.47%, #D3EEEC 96.76%);
  position: relative;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}


.container-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1236px;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 10px;
}


ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  padding-left: 0px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-blue {
  background-color: var(--blue);
  padding: 18px 20px;
}

.headline-h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 135%;
}

.paragraph {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

main {
  padding: 0 10px;
}

.body-bg {
  position: absolute;
  top: 210px;
  right: 0;
}


@media (max-width: 1300px) {
  .body-bg {
    top: 430px;
  }
}

@media (max-width: 768px) {
  .body-bg {
    top: 240px;
  }

  button {
    font-size: 18px;
  }

  .btn-blue {
    padding: 10px 15px;
  }

  .headline-h1 {
    font-size: 35px;
    line-height: 100%;
  }

  .paragraph {
    font-size: 18px;
    line-height: 100%;
  }
}

@media (max-width: 425px) {
  button {
    font-size: 13px;
    gap: 5px;
  }

  button>img {
    width: 10px;
  }

  .headline-h1 {
    font-size: 28px;
  }

  .paragraph {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .header>img {
    width: 100px;
  }

  .btn-blue {
    padding: 10px 10px;
  }
}