@import url(./styles/header.css);
@import url(./styles/card.css);
@import url(./styles/footer.css);

:root {
  --white: #FFFFFF;
  --blue: #306EFD;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(92.23deg, #EFFAF3 0.47%, #D3EEEC 96.76%);
}

.basket-body {
  position: relative;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  padding-left: 0px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-blue {
  background-color: var(--blue);
  padding: 18px 20px;
}

.headline-h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  button {
    font-size: 18px;
  }

  .btn-blue {
    padding: 10px 15px;
  }
}

@media (max-width: 425px) {
  button {
    font-size: 13px;
    gap: 5px;
  }

  button>img {
    width: 10px;
  }
}

@media (max-width: 360px) {
  .header>img {
    width: 100px;
  }

  .btn-blue {
    padding: 10px 10px;
  }
}